@use '../themes/colors';


.form-subs {
    @include align-column;
    padding: 20px;

    &__subscribe {
        height: 150px;
        width: 75vw;
        border-radius: 10px;
        color: colors.$white;
        background-color: colors.$primary-green;
        padding: 0 40px 0 40px;
    }

    &__title {
        width: 60%;
    }

    &__inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}